
*.xlsx
kids_help_phone/Data Pack/BMO_branches.csv
kids_help_phone/Data Pack/BMO_branches.csv
*.csv
*.zip
kids_help_phone/Data Pack/.ipynb_checkpoints/kids_help_phone_analysis-checkpoint.ipynb
kids_help_phone/Data Pack/Data for Good Introduction Slides - Kids Help Phone.pptx
kids_help_phone/Data Pack/Official Kids Help Phone Presentation.pptx
data_for_good_nellies/DataNight -FINAL PRESENTATION.pptx
data_for_good_nellies/DataNight_Nellies.pptx
data_for_good_nellies/KHP_analysis-checkpoint.ipynb
data_for_good_nellies/KHP_analysis.ipynb
data_for_good_nellies/rfm.R
data_for_good_nellies/~$DataNight_Nellies.pptx
Zindi/akeed_challenge/.RData
Zindi/akeed_challenge/.Rhistory
hack_instead/otf/.RData
hack_instead/otf/.Rhistory
ODSC/.RDataTmp
ODSC/.RData
ODSC/.RDataTmp
Zindi/zinmat_challenge/.Rhistory
Zindi/zinmat_challenge/.RData
CDP_hackathon/.RData
CDP_hackathon/.Rhistory
Syngenta_crop_challenge/2021/.Rhistory
Syngenta_crop_challenge/2021/.RData
CDP_hackathon/CDP.R
CDP_hackathon/CDP Climate Hackathon Overview Deck.pdf
A12S-Amide/.Rhistory
techjam_2021/Cricket Australia Datasets 2/BallByBall_VenueDetails_BBL&WBBL.txt
techjam_2021/Cricket Australia Datasets 2/AAA_ReadMe.txt
techjam_2021/Cricket Australia Datasets 2/BallByBall_DeliveryDetails_BBL&WBBL.txt
*.txt
techjam_2021/layout idea.md
Kiva_hackathon/kiva/.Rhistory
Kiva_hackathon/kiva/.RData
Kiva_hackathon/kiva/loans.rds
Kiva_hackathon/kiva/loans.qs
Kiva_hackathon/Screen Recording 2021-10-25 at 18.11.13.mov
Impact_circle/greener_future/.RData
Impact_circle/greener_future/.Rhistory
Impact_circle/greener_future/app.R
Impact_circle/greener_future/greener_future.R
Impact_circle/greener_future/information.md
Impact_circle/greener_future/information.md
Impact_circle/greener_future/information.md
Impact_circle/greener_future/information.md
open_data_addathon/Pitch_deck/Pitch Deck template - ADDATHON#2 copy.pptx
open_data_addathon/Pitch_deck/A gift for my team.pptx
zoho_creator_hackathon/plan.md
open_data_addathon/plan.md
open_data_addathon/open_addathon/.RData
open_data_addathon/plan.md
open_data_addathon/open_addathon/.Rhistory
HeroX/old/cyber_tech_accord/A gift for my team.key
HeroX/old/pact/A gift for my team.pptx
Innocentive/old/volkswagen/A gift for my team.pptx
pharma_hacks/.Rhistory
Secureworks_cybersecurity_literacy_challenge/cyberardy/Untitled-1
Innocentive/MISO/MISO_Project.pages
Innocentive/MISO/MISO_Project.pages
Innocentive/MISO/untitled.md
Developer_Week_Cloud_2022/app/gpr_000b11a_e.shp
expert_ai_hackathon/Untitled.ipynb
expert_ai_hackathon/app/Untitled.ipynb
expert_ai_hackathon/app/.ipynb_checkpoints/Untitled-checkpoint.ipynb
expert_ai_hackathon/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Google_Maps_Platform_Hackathon/problem statement.md
Google-maps-hackathon/app/map_with_catchments.pdf
Google-maps-hackathon/app/model.pkl
Google-maps-hackathon/app/Untitled.ipynb
Google-maps-hackathon/work.md
Google-maps-hackathon/work.md
Google-maps-hackathon/work.md
Google-maps-hackathon/work.md
API_world_hackathon/app/world_map.jpeg
API_world_hackathon/app/WorldMap.png
Civicode/kiva/.RData
Civicode/kiva/.Rhistory
Kiva_hackathon/kiva/Data_Overview.py
Innocentive/MISO Visibility Challenge/action_plan.md
Unbottled/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Civicode/kiva/logs.log
*.md
DeveloperWeek_hackathon/websocialytics/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DeveloperWeek_hackathon/websocialytics/Untitled.ipynb
DeveloperWeek_hackathon/websocialytics/Final lr.pkl
DeveloperWeek_hackathon/websocialytics/Final ridge.pkl
DeveloperWeek_hackathon/websocialytics/logs.log
Pygames_2023/test.py
Pygames_2023/Build a pygame app where it has a screen.go
DeveloperWeek_Europe_2023/mcs/.ipynb_checkpoints/mcs Model-checkpoint.ipynb
DeveloperWeek_Europe_2023/mcs/__pycache__/utils.cpython-37.pyc
DeveloperWeek_Europe_2023/mcs/logs.log
*.pyc
*.pyc
pangea_securathon2/mesh_intelligence/__pycache__/config.cpython-37.pyc
pangea_securathon2/mesh_intelligence/__pycache__/config.cpython-37.pyc
pangea_securathon2/mesh_intelligence/__pycache__/config.cpython-37.pyc
pangea_securathon2/mesh_intelligence/__pycache__/utils.cpython-37.pyc
pangea_securathon_2023/venv/bin/activate
Streamlit-LLM-hackathon/config.py
Spotify/data_cleaning.ipynb
Spotify/.ipynb_checkpoints/data_cleaning-checkpoint.ipynb
Spotify/data_cleaning.ipynb
