
*.xlsx
kids_help_phone/Data Pack/BMO_branches.csv
kids_help_phone/Data Pack/BMO_branches.csv
*.csv
*.zip
kids_help_phone/Data Pack/.ipynb_checkpoints/kids_help_phone_analysis-checkpoint.ipynb
kids_help_phone/Data Pack/Data for Good Introduction Slides - Kids Help Phone.pptx
kids_help_phone/Data Pack/Official Kids Help Phone Presentation.pptx
data_for_good_nellies/DataNight -FINAL PRESENTATION.pptx
data_for_good_nellies/DataNight_Nellies.pptx
data_for_good_nellies/KHP_analysis-checkpoint.ipynb
data_for_good_nellies/KHP_analysis.ipynb
data_for_good_nellies/rfm.R
