
*.xlsx
kids_help_phone/Data Pack/BMO_branches.csv
kids_help_phone/Data Pack/BMO_branches.csv
*.csv
*.zip
kids_help_phone/Data Pack/.ipynb_checkpoints/kids_help_phone_analysis-checkpoint.ipynb
kids_help_phone/Data Pack/Data for Good Introduction Slides - Kids Help Phone.pptx
kids_help_phone/Data Pack/Official Kids Help Phone Presentation.pptx
data_for_good_nellies/DataNight -FINAL PRESENTATION.pptx
data_for_good_nellies/DataNight_Nellies.pptx
data_for_good_nellies/KHP_analysis-checkpoint.ipynb
data_for_good_nellies/KHP_analysis.ipynb
data_for_good_nellies/rfm.R
data_for_good_nellies/~$DataNight_Nellies.pptx
Zindi/akeed_challenge/.RData
Zindi/akeed_challenge/.Rhistory
hack_instead/otf/.RData
hack_instead/otf/.Rhistory
ODSC/.RDataTmp
ODSC/.RData
ODSC/.RDataTmp
Zindi/zinmat_challenge/.Rhistory
Zindi/zinmat_challenge/.RData
CDP_hackathon/.RData
CDP_hackathon/.Rhistory
Syngenta_crop_challenge/2021/.Rhistory
Syngenta_crop_challenge/2021/.RData
CDP_hackathon/CDP.R
CDP_hackathon/CDP Climate Hackathon Overview Deck.pdf
A12S-Amide/.Rhistory
